<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="pagefactory.com.tests.PagefactoryTests_OrderHistory_Transaction_Download"/>
      <class name="pagefactory.com.tests.PagefactoryTests_Cartlist"/>
      <class name="pagefactory.com.tests.PagefactoryTests_AddCart_From_Wishlist"/>
      <class name="pagefactory.com.tests.PagefactoryTests_Count_Product"/>
      <class name="pagefactory.com.tests.PagefactoryTests_Search"/>
      <class name="pagefactory.com.tests.PagefactoryTests_Login"/>
      <class name="pagefactory.com.tests.PagefactoryTests_Wishlist"/>
      <class name="pagefactory.com.tests.PagefactoryTests_Reg"/>
    </classes>
  </test> <!-- Test -->
  <packages>
        <package name="com.test"/>
    </packages>
</suite> <!-- Suite -->
